name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install asdf dependencies
        uses: asdf-vm/actions/install@v4

      - name: Run linting and formatting check
        run: ./scripts/lint.sh

  build:
    name: asdf plugin test
    needs: lint
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: asdf_plugin_test
        uses: asdf-vm/actions/plugin-test@v4
        with:
          command: hugo version
